<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="./main.js" defer></script>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./styles.css">
    <title>Restaurant Page</title>
</head>
<body class="body">
    <div class="header">
        <div class="logo">PR Burger</div>
        <navbar class="navbar">
            <button class="btn homeButton">Home</button>
            <button class="btn menuButton">Menu</button>
            <button class="btn contactButton">Contact</button>
        </navbar>
    </div>
    <div class="content">
    </div>
    <footer>
        <div class="footerWriting">Copyright &copy; <span class="footerDate"></span> <a href="https://github.com/karakuscem">karakuscem <i class="fa-brands fa-github"></i></div></a>
    </footer>
</body>
</html>